<!--<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>-->

<ion-content>
  <div class="login-container">
    <!--<ion-card class="login-card">-->
    <img class="logo" src="./assets/icons/PEEN-transp.png" center/>

    <!--*********** Form ***********-->
    <form [formGroup]="loginForm" (submit)="login()" novalidate>
      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input tappable color="light" #email type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>senha</ion-label>
        <ion-input tappable #password type="password" formControlName="password" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
        </ion-input>
      </ion-item>

      <ion-item class="error-message">
        <p *ngIf="!loginForm.controls.email.valid  &&
                    loginForm.controls.email.dirty">*Insira um email válido.</p>
        <p *ngIf="!loginForm.controls.password.valid  &&
                    loginForm.controls.password.dirty">*A senha precisa ter pelo menos 6 caracteres.</p>
      </ion-item>

      <!-- TODO: reduzir espaços pois na primeira vez que abre no iphone some o ultimo botao-->
      <div class="submit-box">
        <ion-grid fixed>
          <ion-row nowrap>
            <ion-col col-8>
              <button ion-button block type="submit" color="color3">Entrar</button>
            </ion-col>
            <ion-col>
              <button ion-button block (click)="loginWithFacebook()" color="facebook" disabled="true">
                <ion-icon name="logo-facebook"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button block (click)="loginWithFacebook()" color="google" disabled="true">
                <ion-icon name="logo-google"></ion-icon>
              </button>
            </ion-col>
          </ion-row>


        </ion-grid>

        
      </div>
      <div class="bottom-btn">
        <ion-row nowrap>
          <ion-col>
            <button ion-button type="button" full color="dark" outline (click)="createAccount()">
              Criar conta
            </button>
          </ion-col>
          <ion-col>
            <button ion-button type="button" full color="dark" outline (click)="forgot()" disabled="true">
              Esqueci a senha
            </button>
          </ion-col>
        </ion-row>
      </div>

    </form>
    <!--</ion-card>-->
  </div>

</ion-content>