		<h2 class="text-center text-uppercase text-secondary mb-0">Eventos</h2>
        <hr class="star-dark mb-5">
<!--         <div class="row"> -->
<!--           <div class="col-md-6 col-lg-4"> -->
<!--             <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1"> -->
<!--               <div class="portfolio-item-caption d-flex position-absolute h-100 w-100"> -->
<!--                 <div class="portfolio-item-caption-content my-auto w-100 text-center text-white"> -->
<!--                   <i class="fa fa-search-plus fa-3x"></i> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <img class="img-fluid" src="img/portfolio/cabin.png" alt=""> -->
<!--             </a> -->
<!--           </div> -->
<!--           <div class="col-md-6 col-lg-4"> -->
<!--             <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2"> -->
<!--               <div class="portfolio-item-caption d-flex position-absolute h-100 w-100"> -->
<!--                 <div class="portfolio-item-caption-content my-auto w-100 text-center text-white"> -->
<!--                   <i class="fa fa-search-plus fa-3x"></i> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <img class="img-fluid" src="img/portfolio/cake.png" alt=""> -->
<!--             </a> -->
<!--           </div> -->
<!--           <div class="col-md-6 col-lg-4"> -->
<!--             <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3"> -->
<!--               <div class="portfolio-item-caption d-flex position-absolute h-100 w-100"> -->
<!--                 <div class="portfolio-item-caption-content my-auto w-100 text-center text-white"> -->
<!--                   <i class="fa fa-search-plus fa-3x"></i> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <img class="img-fluid" src="img/portfolio/circus.png" alt=""> -->
<!--             </a> -->
<!--           </div> -->
<!--           <div class="col-md-6 col-lg-4"> -->
<!--             <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4"> -->
<!--               <div class="portfolio-item-caption d-flex position-absolute h-100 w-100"> -->
<!--                 <div class="portfolio-item-caption-content my-auto w-100 text-center text-white"> -->
<!--                   <i class="fa fa-search-plus fa-3x"></i> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <img class="img-fluid" src="img/portfolio/game.png" alt=""> -->
<!--             </a> -->
<!--           </div> -->
<!--           <div class="col-md-6 col-lg-4"> -->
<!--             <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5"> -->
<!--               <div class="portfolio-item-caption d-flex position-absolute h-100 w-100"> -->
<!--                 <div class="portfolio-item-caption-content my-auto w-100 text-center text-white"> -->
<!--                   <i class="fa fa-search-plus fa-3x"></i> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <img class="img-fluid" src="img/portfolio/safe.png" alt=""> -->
<!--             </a> -->
<!--           </div> -->
<!--           <div class="col-md-6 col-lg-4"> -->
<!--             <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6"> -->
<!--               <div class="portfolio-item-caption d-flex position-absolute h-100 w-100"> -->
<!--                 <div class="portfolio-item-caption-content my-auto w-100 text-center text-white"> -->
<!--                   <i class="fa fa-search-plus fa-3x"></i> -->
<!--                 </div> -->
<!--               </div> -->
<!--               <img class="img-fluid" src="img/portfolio/submarine.png" alt=""> -->
<!--             </a> -->
<!--           </div> -->
<!--         </div> -->

<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i>Próximos Eventos</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>local</th>
            <th>Data - Início</th>
            <th>Data - Fim</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nome</th>
            <th>local</th>
            <th>Data - Início</th>
            <th>Data - Fim</th>
          </tr>
        </tfoot>
        <tbody>
         <#list model["eventos"] as ed>
	<tr>
		<td><#if ed.evento.nome??>${ed.evento.nome}<#else> - </#if></td>
		<td><#if ed.evento.local??>${ed.evento.local}<#else> - </#if></td>
		<td><#if ed.dataInicio??>${ed.dataInicio?string["dd/MM - HH:mm"]}<#else> - </#if></td>
		<td><#if ed.dataFim??>${ed.dataFim?string["HH:mm"]}<#else> - </#if></td>
	</tr>
 </#list>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Última atualização às <#if model["ultimaAtualizacaoEventos"]??>${model["ultimaAtualizacaoEventos"]?string["dd/MM/yyyy - HH:mm"]}<#else> - </#if></div>
</div>