<#list model["objetoEventos"] as evento>
  <div class="portfolio-modal mfp-hide" id="evento-${evento.link}">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">${evento.nome}</h2>
            <hr class="star-dark mb-5">
         <#list evento.imagens as img>
            <img class="img-fluid mb-5" src="${img.valor}" alt="${img.nome}">
	    </#list>
            <p class="mb-5">${evento.corpoPrincipal}</p>
            
            <table class="table table-bordered">
			  <tbody>
			    <tr><td><b>Local:</b></td><td>${evento.local}</td></tr>
			    <tr><td><b>Endereço:</b></td><td>${evento.endereco}</td></tr>
			    <tr><td><b>Valores</b></td><td>
			    	<table><tbody>
			    	<#list evento.valores as v>
			    	<tr><td>${v.nome}:</td><td>${v.valor}</td></tr>
				    </#list>
			    	</tbody></table>
			    </td></tr>
			    <tr><td><b>Datas</b></td><td>
			    	<table><tbody>
			    	<#list evento.datas as data>
			    	<tr><td>${data.dataInicio?string["dd/MM - HH:mm"]} - ${data.dataFim?string["dd/MM - HH:mm"]}</td></tr>
				    </#list>
			    	</tbody></table>
			    </td></tr>
			    <tr><td><b>Informações</b></td><td>
			    	<table><tbody>
			    	<#list evento.informacoes as info>
			    	<tr><td>${info.nome}:</td><td>${info.valor}</td></tr>
				    </#list>
			    	</tbody></table>
			    </td></tr>
			    <tr><td><b>Categoria:</b></td><td>${evento.categoriaStr}</td></tr>
			    <tr><td><b>Tags:</b></td><td>${evento.tagStr}</td></tr>
			    <tr><td><b>Origem:</b></td><td>${evento.origemInformacao}</td></tr>
			  </tbody>
            </table>
                
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Fechar ${evento.nome}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 </#list>