		<h2 class="text-center text-uppercase text-white">Termos</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Temos a intenção de divulgar eventos de qualquer espécie na cidade de Curitiba. Buscamos informações em dezenas de sites e postamos aqui, para ser um lugar único de suas buscas.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">O problema atual é que os sites que fazem esse tipo de serviço, normalmente cobram dos organizadores para colocar eventos em seu site. Aqui não tem custos e você sentirá um meio mais justo de buscar sua programação.</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <p class="lead">Dúvidas, sugestões, entre em contato.</p>
        </div>
